<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Memory - Web Client</title>
    <base href="~/" />

    <link rel="stylesheet" href="{{CDN_HOST}}/css/vendor.css" />
    <link rel="stylesheet" href="{{CDN_HOST}}/css/site.css" />
</head>
<body>
    <div id="react-app">Loading...</div>

    <script src="{{CDN_HOST}}/js/vendor.js"></script>
    <script src="{{CDN_HOST}}/js/main-client.js"></script>
</body>
</html>
